// @import "~bootstrap/scss/bootstrap";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-dark-gray: rgb(31, 31, 31);
    --bg-lighter-gray: rgb(34, 34, 34);
    --bg-primary-gray: #15191f;
    --bg-oceans: rgb(34, 34, 44);
    --bg-lighter-black: rgba(6, 7, 8, 0.568);
    --bg-light-black: rgb(19, 23, 27);
    --bg-dark-blue: rgba(6, 25, 47, 0.999);
    --bg-darker-gray: rgba(10, 13, 16, 0.601);
    --bg-second-table: hsla(213, 18%, 12%, 0.724);
    --color-icons: #606468;
  }
}
input.border-css,
button.border-css {
  border: 1px solid rgba(0, 0, 0, 0.305);
  transition: all 150ms ease;
}
input.border-css:hover,
button.border-css:hover {
  border: 1px solid hsla(262, 87%, 48%, 0.753);
}
select.select-css {
  border: 1px solid transparent !important;
  cursor: pointer;
  font-size: 1rem;
  text-overflow: ellipsis;
  option {
    background-color: var(--bg-dark-gray);
    border: none;
    text-overflow: ellipsis;
    font-size: 0.9rem;
    font-weight: 550;
    cursor: pointer;
    color: rgb(212, 212, 212);
  }
}
select.select-css:hover {
  border: 1px solid hsla(262, 87%, 48%, 0.753) !important ;
}
table {
  // scale: 0.8;
  select {
    border: 1px solid transparent !important;
    cursor: pointer;
    font-size: 1rem;
    text-overflow: ellipsis;
    option {
      background-color: var(--bg-dark-ocean);
      border: none;
      text-overflow: ellipsis;
      font-size: 0.9rem;
      font-weight: 550;
      cursor: pointer;
      color: rgb(212, 212, 212);
    }
  }
  select:hover {
    border: 1px solid hsla(262, 87%, 48%, 0.753) !important ;
  }
  thead.thead-css {
    tr {
      th {
        font-size: 1.1rem;
        background-color: var(--bg-lighter-black);
      }
    }
  }
  tbody.tab-css {
    input {
      border: 1px solid rgba(0, 0, 0, 0.305);
    }
    input:hover {
      border: 1px solid hsla(262, 87%, 48%, 0.753);
    }
    tr {
      td {
        min-height: 4rem;
        height: 4rem;
        // max-height: 4rem;
      }
    }
    .mapping {
      td {
        font-size: 1rem;
        font-weight: 550;
      }
    }
  }
}
nav .xd {
  color: #606468;
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
  height: 15px;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 15px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #5457598a;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2e2f30;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: #2e2f30;
  border-radius: 6px;
}

@media only screen and (min-width: 480px) {
  .title-css {
    margin: auto !important;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  // color: white;
}

/* Hide input number arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide input number arrows - Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #292b2ea5;
  overflow-x: hidden;
  #app {
    min-height: 100vh;
  }
}

a {
  text-decoration: none;
  &:visited {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

input {
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}

#loading{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}